name: FRED to X

on:
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Restore state cache
        uses: actions/cache@v4
        with:
          path: state.json
          key: fred-xbot-state-v1

      - name: Install deps
        run: pip install requests requests-oauthlib

      - name: Install deps
        run: pip install requests requests-oauthlib beautifulsoup4


      - name: Run bot
        env:
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
          X_CONSUMER_KEY: ${{ secrets.X_CONSUMER_KEY }}
          X_CONSUMER_SECRET: ${{ secrets.X_CONSUMER_SECRET }}
          X_ACCESS_TOKEN: ${{ secrets.X_ACCESS_TOKEN }}
          X_ACCESS_TOKEN_SECRET: ${{ secrets.X_ACCESS_TOKEN_SECRET }}
        run: python bot.py

      - name: Save state cache
        uses: actions/cache@v4
        with:
          path: state.json
          key: fred-xbot-state-v1
